/* SelectorUniversal--se usa para restablecer todos los elementos para que tengan un comportamiento determinado en esta caso el box-sizing */
* {
    box-sizing: border-box;
}


/* body */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


/* Para leer los id */
#product-overview {

    background: url("freedom.jpg");
    /* Ancho */
    width: 100%;
    /* Alto */
    height: 528px;
    /* Relleno */
    padding: 10px; 
    /* border: 5px purple solid;  */
    /* margen para dar espacio */
   /*  margin: 10px; */ 
    
}


/* Para leer las classes que esta en el segundo h1 del html */
.section-title{
    color: black;
    text-align: center;
    /* Singnifica que herada el estilo que letra que se ha puesto en el body */
    /* font-family: inherit; */
    
}

/* Combinators multiples selectors */
#product-overview h1 {
    color: black;
    font-family: sans-serif;

}



/* Para los <article> */
.plan{
    background-color: pink;
    text-align: center;
    /* Relleno */
    padding: 16px;
    /* Espacio entre los background */
    margin: 10px;
    /* Para que todos esten alineados  */
    display: inline-block;
    width: 30%;
    /* Para alinear los background */
    vertical-align: middle;
}


/* Para cambiar el color del article con a class plan--highlighted */
.plan--highlighted{
    background-color: salmon;
    color: white;
    /* Para establecer sombra, los tres primeros 0 son el color negor y el umtimo 0.5 le decimos que tienen una transparencia del 50% y si es 0 es totalmente transparente */
    box-shadow: 3px 3px 3px 3px rgb(0,0,0,0.5);
}



/* Para el h1 del segundo article (plans) */
.plan__annotacion{
    background-color: white;
    color: salmon;
    padding: 8px;
    box-shadow: 3px 3px 3px 3px rgb(0,0,0,0.5);
    border-radius: 8px;
}




/* Para la classes que estan definidas en los <h1> de cada <article> */
.plan__title{
    color: salmon;
}
.plan__price{
    color: grey;
}
/* Cambiar el color del title del  plan resaltado */
.plan--highlighted .plan__title{
    color: white;
}

/*Para los <li> que estan en las <ul> de los <article>  */
.plan__features{
    list-style: none;
    margin:0;
    padding: 0;
}
.plan__features li{
    margin:8px 0;
}





/* Para lso botones de cada plans */
.button{
    background-color: salmon;
    color: white;
    /* Hereda la font-family del body */
    font: inherit;
    border: 1.5px solid grey;
    padding: 8px; 
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active{
    background-color: white;
    color: salmon;
}
/* Para quitar el borde azul cuando le das click al boton */
.button:focus{
    outline: none;
}
/* Para que sea diferente el botton del plan seleccionado */
.plan--highlighted .button{
    background-color: white;
    color: salmon;
}
.plan--highlighted .button:hover{
    background-color: salmon;
    color: white;
}






/* Para la nueva section que tiene el id=key-features */
#key-features{
    background-image: linear-gradient(to bottom right,#F761A1, #8C1BAB);
    margin-top: 80px;
    padding: 16px;
}
#key-features .section-title{
    color: white;
    margin: 32px;
}








/* classe de la etiqueta header  para el nav*/
.main-header{
    background-image: linear-gradient(to bottom right,#F761A1, #8C1BAB);
    width: 100%;
    padding: 8px 16px;
}



/* combinators-- solo va agarrar el primer div que contiene la etiqueta <a> del header */
.main-header > div {
    display: inline-block;
    /* Para alinear la etiqueta <a> con los <li> */
    vertical-align: middle;
}




/* Agregando dise;o a la etiqueta <a>  Uhost*/
.main-header__brand {
    color: black;
    /* Eliminando el sudbrayado que aperece en el texto */
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}





/* Para poner en una sola linea la etiqueta <a> con la etiqueta <li>  en el nav*/
.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 84px);
    /* Para alinear la etiqueta <a> con los <li> */
    vertical-align: middle;
}





/* Para reestablecer el relleno, margen y list-style(puntos de vi;etas) en el nav */
.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}





/* Para el <li> */
.main-nav__item {
    display: inline-block;
    /* Para margen(espacios) entre los <li> de izquierda a derecha, el primer valor se refiere a una parte superior e inferior y el segundo valor
    es izquierdo y derecho*/
    margin: 0 16px;
}





/* Para darle dise;o a los <li> */
.main-nav__item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    /* Relleno */
    padding: 3px 0;
   
}





/* .main-nav__item a::after {
    /* para declarar un texto despues de cada <a> del nav 
    content: " (link)";
    color: red;
} */






/* Pseudo elements para cuando pase el mouse */
.main-nav__item a:hover,
.main-nav__item a:active{
    color: white;
    font-weight: bold;
     /* Agregar borde */
     border-bottom: 5px solid white;
}






/* Para el ultimo <li> Start Hosting */
.main-nav__item--cta a{ 
    color: white;
    background-color: salmon;
    /* 8px para a parte inferior e superior y 16px para la derecha y izquierda */
    padding: 8px 16px;
    border-radius: 8px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    color: black;
    background-color: blanchedalmond;
    border: none;
}





/* Cambiar la primera letra del parrafo <p> usando pseuco elements */
/* p::first-letter {
    color:red;
    font-size: 20px;
} */













