

/* Para leer los id */
#product-overview {
    /* La posicion viene primero, de segundo los valores de tama;o, de tercero va repeat, de cuarto origin y de quinto clip  */
    background: linear-gradient(to top, rgba(80,68,18,0.6) 10%, transparent), 
                url("images/freedom.jpg")  0%/cover no-repeat border-box,
                #F761A1; 
   /*  background-image: url("freedom.jpg");
    background-size: cover;
    background-position: 0%; */
   /*  background-repeat: no-repeat;
    background-origin: border-box; */
    /* Recorte de image */
  /* background-clip:;*/
 /*  background-image: linear-gradient(to  /* bottom *//* left bottom */ /* left top, red 70%, blue 60%) ; */
 /* background-image: radial-gradient(circle /* 100px */ /* farthest-side */ /* closest-corner */ /* at top left, red 70%, blue 30%, green); */ 
    /* DEfinir como se compartaria el deslazamiento en un contenedor que tienen un imagen de fondo */
   /*  background-attachment: ; */
    /* Ancho */
    width: 100%;
    /* Alto */
    height: 790px;
    /* Relleno */
    /* padding: 10px;  */ 
    /* Position */
    position: relative;
    /* border: 5px purple solid;  */
    /* margen top para dar espacio del <h1> get the freedom you deserve con el nav*/
   /*  margin-top: 43px;  */
   margin-top: 2.75rem;
}   




/* Combinators multiples selectors */
#product-overview h1 {
    color:black;
    font-family: sans-serif;
    font-weight: bold;
    /* Posicionamiento del <h1> */
    position: absolute;
    bottom: 5%;
    left: 3%;
    /* top:450px;
    left: 50px; */

}






/* Para centrar los <article> */
.plan__list{
    width: 80%;
    margin: auto;
    text-align: center;
}






/* Para leer las classes que esta en el segundo h1 del html */
.section-title{
    color: black;
    text-align: center;
    /* Singnifica que herada el estilo que letra que se ha puesto en el body */
    /* font-family: inherit; */
    
}




/* Para los <article> */
.plan{
    background-color: pink;
    text-align: center;
    /* Relleno */
    /* padding: 16px; */
    padding: 1rem;
    /* Espacio entre los background */
   /*  margin: 10px; */
     margin: 0.5rem;
    /* Para que todos esten alineados  */
    display: inline-block;
    width: 30%;
    /* Para alinear los background */
    vertical-align: middle;
}


/* Para cambiar el color del article con a class plan--highlighted */
.plan--highlighted{
    background-color: salmon;
    color: white;
    /* Para establecer sombra, los tres primeros 0 son el color negor y el umtimo 0.5 le decimos que tienen una transparencia del 50% y si es 0 es totalmente transparente */
    box-shadow: 3px 3px 3px 3px rgb(0,0,0,0.5);
}



/* Para el h1 del segundo article (plans) */
.plan__annotacion{
    background-color: white;
    color: salmon;
   /*  padding: 8px; */
    padding: 0.5rem;
    box-shadow: 3px 3px 3px 3px rgb(0,0,0,0.5);
    border-radius: 8px;
}




/* Para la classes que estan definidas en los <h1> de cada <article> */
.plan__title{
    color: salmon;
}
.plan__price{
    color: grey;
}
/* Cambiar el color del title del  plan resaltado */
.plan--highlighted .plan__title{
    color: white;
}

/*Para los <li> que estan en las <ul> de los <article>  */
.plan__features{
    list-style: none;
    margin:0;
    padding: 0;
}
.plan__features li{
    /* margin:8px 0; */
    margin: 0.5rem 0;
}








/* Para que sea diferente el botton del plan seleccionado */
.plan--highlighted .button{
    background-color: white;
    color: salmon;
}
.plan--highlighted .button:hover{
    background-color: salmon;
    color: white;
}







/* Para la nueva section que tiene el id=key-features */
#key-features{
    background-image: linear-gradient(to bottom right,#F761A1, #8C1BAB);
    /*   margin-top: 80px; */
     margin-top: 5rem;
    /*   padding: 16px; */
    padding: 1rem;
}
#key-features .section-title{
    color: white;
    /* margin: 32px; */
    margin: 2rem;
}
/* Para los <ul> de la nueva section id+key-features */
.key-feature__list{
    /* Quitarle las viñetas que crea los <li> */
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

}
/* Para los <li> que estan dentro del <ul> */
.key-feature{
    display: inline-block;
    width: 30%;
    /* Para que los textos esten alineados en la parte superior */
    vertical-align: top;
}
/* Para los <div> de la class image , para hacer la figura de un circulo en cada <li>*/
.key-feature__image{
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid grey;
    border-radius: 50%;
    /* Centrara el circulo */
    margin: auto;
    /* padding: 20px; */
    padding: 1.5rem;
}
/* Para el diseño de los parrafos que estan dentro de los <li> */
.key-feature__description{
    text-align: center;
    font-weight: bold;
    color: white;
   /*  font-size: 20px; */
   font-size: 1.2rem;
}














/* Cambiar la primera letra del parrafo <p> usando pseuco elements */
/* p::first-letter {
    color:red;
    font-size: 20px;
} */













