
/* body */
body {
    font-family: 'Montserrat', sans-serif;;
}

/* Para leer los id */
#product-overview{

    background-color: pink;
    
}

/* Para leer las classes que esta en el segundo h1 del html */
.section-title{
    color: black;
    
}

h1 {
    text-align: center;
    color: white;
    text-justify: auto;
    font-family: sans-serif;

}





