* {
    box-sizing: border-box;
    font-size: 1.5rem;
}

html {
    background: #b3b3b3;
    padding: 5px;
}

body {
    background: #b3b3b3;
    padding: 5px;
    margin: 0;
  }
  
.flex-container {
    background: white;
    padding: 10px;
    border: 5px solid black;
    height: 800px;
    display: flex;
    flex-direction: row;
    /* esto funciona para cuando legue a un ancho definido que no puedan alcanzar ls0s <div> children en una sola linea,
    entonces hace que estos se desplieguen abajo.  */
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    /* Permite alinear contenido a lo largo del eje transversal */
/*     align-content: center; */
    /* flex-flow: row wrap; */
  }

.item-1 {
    background: #ff7300;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
}

.item-2 {
    background: #ff9640;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 250px;
    font-size: 1.8rem;
}

.item-3 {
    background: #ff9640;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    height: 250px;
    /* Es similar a order  */
    /* align-self: flex-end; */
}

.item-4 {
    background: #f5c096;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 300px;
    height: 300px;
    /* Para cambiar la posicion, ahora con el -1 estara de primero */
   /*  order: -1; */
}

.item-5 {
    background: #d3c0b1;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 350px;
    /*  Aumenta el ancho con 1*/
   /*  flex-grow: 1; */
}

.item-6 {
    background: #d3c0b1;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 350px;
      /*  No aumenta el ancho con 0*/
     /*  flex-grow: 0; */
     /* Para cambiar la posicion, ahora con el -1 estara de primero */
   /*  order: -2; */
}