main{
    padding-top: 32px;
}





/* AGregarle imagen de fondo al <body><div> */
.background{
    background: url("../images/plans-background.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
     /* Posicionamiento del eje z , esto va ayudarnos a colocar la imagen detras de los packages */
     z-index: -1;

}







/* Para los estilos de las section */
.packages{
    margin: 16px 0;
    padding: 20px;
    border: 4px solid purple;
    border-left: none;
    width: 70%;
    /* Para el packages__badge */
    position: relative;
}
/* Para poner otros estilos cuando pase el cursor en los section */
.packages:hover,
.packages:active{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    /* Utilizamos important para que siempre se ejecute esta funcion */
    border-color: brown !important;
}
/* Para los <a> de los section */
.packages a{
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}




/* Para el nuevo <h1> que agregamos <section id="plus"> */
.packages__badge{
    /* Posicion absoluta */
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 12px;
    color: white;
    background-color: brown;
    /* Relleno */
    padding: 8px;
}





/* Para los <h1> de los section */
.packages-title{
    color: black;
}
/* PARA LOS <H2> DE LOS SECTION */
.packages-title__h2{
    color: grey;
    font-weight: bold;
}
/* Para los <p> de los section */
.packages-title__p{
    border: 1px solid purple;
    padding: 16px;
    color: black;
    font-size: 20px;
    background-color: white;

}






/* Para utilizar bien el float */
.clearfix{
    /* borra flota en ambos lados , izquierdo y derecho, cada elemento que venga despues de este respatara el espacio del otro. */
    clear: both;
}






/* Para los id de cada packages de los section */
#plus{
    background-color: rgba(250, 128, 114, 0.432);
}
#free{
    background-color: rgba(255, 192, 203, 0.774);
    /* Mover a la derecha */
    float: right;
    border-right: none;
    border-left: 4px solid purple;
    text-align:right;
}
#premium{
    background-color: rgba(250, 128, 114, 0.774);
}



/* Selector para cambiar el color del h1 solo del packages premium */
#premium .packages-title{
    color:white;
}

