.container {
    margin: 20px;
    /* Utilizando grid--- cuadricula, los hijos del padre <div> son los que heredan este comportamiento de la cuadricula. */
    display: grid;
    /* Agregando columnas y filas, en este caso agregmos tres columnas la primera de 200px, la segunda de 150px y la tercera de 20%  y la cuarta 1fr
    se refiere que dividira el espacio restante entre las demas columnas osea en este caso se resta los 200px - 20% y eso se divide la segundo columna 
    con la cuarta , pero la seguna va a tener mas porque le dividimos por 2fr*/
    grid-template-columns: 200px 2fr 20% 1fr;
    grid-template-rows: 5rem 2.5rem ;
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
}

.el4 {
    background: rgba(0, 4, 255, 0.5);
}