
body {
    font-family: sans-serif;
}

.highlighted-code {
    color: green;
}

/* Agregando color y fontFamily al h1 */
#assignment-instructions {

    color: hotpink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
}

/* Aplicando estilos a todas las etiquetas <code> */
code {
    font-family: monospace;
    color: purple;
}

