
/* Exercise#5 */
body {
    font-family: sans-serif;
}

/* Poniendo de color verde solo el segundo <li>, ejercicio#3 */
.highlighted-code {
    color: green;
}

/* Agregando color y fontFamily al h1 , ejercicio#1*/
#assignment-instructions {

    color: hotpink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
}

/* Aplicando estilos a todas las etiquetas <code> , ejercicio#2 */
code {
    font-family: monospace;
    color: purple;
}

/* Combinators, ejercicio#6 , toma todos los <li> menos el primero*/
li + li {
    background: pink;
    color: blueviolet;
}
