
html {
    height: 100%;
}

body {
    display: grid;
    margin: 20px;
    height: 100%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 4.5rem auto 4.5rem;
}


header {
    background-color: blue;
    color: whitesmoke;
}

main {
    background-color: red;
    color: whitesmoke;
}

aside{
    background-color: green;
    color: whitesmoke;
}

footer{
    background-color: purple;
    color: whitesmoke;
}