/* para datle espacion al signup-title */
main {
    padding-top: 2rem;
}



/* Para el <h1> del <main> */
.signup-title{
    text-align: center;
    font-size: 1.8rem;
    color: salmon;
}



/* Design responsive mobile */
.signup-form {
    padding: 1rem;
}
.signup-form label {
    font-weight: bold;
}





/* Para la etiqueta <form> que tiene los label, input, select */
.signup-form label,
.signup-form input,
.signup-form select {
    display: block;
    /* Margen(espacio) */
    margin-top: 1rem;
    width: 100%;
}






/* Para el checkbox  .signup-form input[type="checkbox"], usamos un selector [] que esto permite que todos los input que tengan el type="checkbox" se van a cambiar*/
/*  ahora esto es que todos los elementos donde el atributo ID contiene el termino "Terms"*/
.signup-form input[id*="terms"],
/* Editara los label que esten en este input osea el label de la clase agree-terms */
.signup-form input[id*="terms"] + label {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}







/* Trabajando en los input y select */
.signup-form input:not([type="checkbox"]),
.signup-form select {
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}
/* Eliminando el border azul que se pone cuando escribimos en ls input y select */
/* not()  le estamos diciendo que no debe apuntar a todas las entradas que no cumplen con el requisito que agreguemos en los (), por lo tanto aqui no va a tomar
el checkbox*/
.signup-form input/* :not([type="checkbox"]) */:focus,
.signup-form select:focus {
    outline: none;
    background: rgba(250, 128, 114, 0.384);
    border-color: purple;
   
}






/* Para el desing del checkbox  osea a la cajita*/
.signup-form input[type="checkbox"]{
    border: 1px solid #ccc;
    background: white;
    width: 1rem;
    height: 1rem;
    /* Para eliminar el default design que lo pone el navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* Usando el pseudo del checked */
.signup-form input[type="checkbox"]:checked {
    background: rgba(250, 128, 114, 0.384);
    border-color: purple;
}






/* verificar el input email, el de passwor y el de los nombres */
.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid
/* apunta a ls entradas que no son una casilla de verificacion que no son validas */
/* .signup-form input:not([type="checkbox"]):invalid */{
    border-color: red !important;
    background-color: #faacac;
}







/* Para el button  se Sign Up*/
.signup-form button[type="submit"] {
    display: block;
    margin-top: 2rem;
}




/* Para los dispositivos grandes */
@media(min-width: 43rem) {
    .signup-form {
        margin: auto;
        width: 30rem;
    }
}